*{
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.page{
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;        
    font-size: 2em;        
    color: #fff;                        f;
}
#page1 {
    background-color: #e74c3c;
    transform: translateY(0);
}
#page2 {
    background-color: #3498db;
    transform: translateY(100%);
}
button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
}